.container__footer {
  display: flex;
  /* position: fixed; */
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  /* bottom: 0; */
  background-color: rgba(243, 242, 243, 0.5);
  backdrop-filter: blur(4px);
  border-top: 1px solid rgba(51, 46, 50, 0.1);
  gap: 16px;
  padding: 8px 0;
  font-size: 0.9rem;
  z-index: 100;
  line-height: 1.4;
}

.icon_academy {
  display: none;
}

.icon_react {
  display: none;
}

.container__footer p {
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
  color: var(--black);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .container__footer {
    position: fixed;
    bottom: 0;
    padding: 16px 0;
  }
  .footer_text {
    padding: 0 24px;
  }

  .icon_academy {
    display: block;
  }

  .logo.alk {
    filter: grayscale();
    opacity: 0.6;
    height: auto;
    width: 80px;
  }
  .icon_react {
    display: block;
    font-size: 48px;
    color: var(--gray-300);
  }
}
