.game_title {
  border-bottom: 3px solid var(--gray-300);
  padding: 0;
  margin-top: 0;
}

.game_poster--large {
  width: 90%;
  border-radius: 16px;
  margin: 0 auto;
}

.game_paragraph {
  text-align: center;
  padding: var(--space_md);
}

.game_paragraph:first-of-type {
  padding-top: var(--space_lg);
}
.game_paragraph:last-of-type {
  padding-bottom: var(--space_xl);
}

.game_paragraph--text {
  padding-top: var(--space_sm);
  font-size: 1.2rem;
  font-weight: 400;
  text-wrap: balance;
}

.imageWrapper {
  position: relative;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper .game_poster--thumb {
  margin-top: var(--space_md);
}

.imageWrapper .game_poster--thumb:hover {
  transform: scale(1);
}

.imageWrapper:hover img {
  filter: brightness(0.4);
}

.gameItem > .container_main--game {
  padding-bottom: var(--space_xxl);
}
