body {
  overflow: hidden;
  color: var(--gray-700);
  font-family: var(--font);
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  color: var(--gray-700);
}
