@media (min-width: 768px) {
  .searchWraper {
    height: 48px;
    /* background-color: #0dc1ee; */
  }

  .search-input {
    font-size: 16px;
  }
  .container__main--gameslist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 24px;
  }

  .container__main--lists .list-name {
    font-size: 1rem;
  }

  .container__main--lists {
    width: 100%;
  }

  .container__main--gameslist ul {
    width: 100%;
  }
  .container__main--gameslist li {
    display: inline-block;
    margin-right: 24px;
  }
  .container__main--gameslist li:last-of-type {
    padding-bottom: 180px;
  }
}
