@media (min-width: 1024px) {
  .container__header {
    gap: var(--space_xl);
    padding-top: var(--space_xl);
  }

  .logo {
    height: 1.75rem;
  }

  .container__header a {
    order: 1;
  }

  .container__header .buttonWrapper {
    order: 3;
    display: flex;
    flex-grow: 0;
    justify-content: end;
    padding-right: var(--space_md);
  }

  .searchBar {
    order: 2;
    margin-top: 0;
  }

  .searchWraper {
    min-width: 50vw;
    /* background-color: #cbe11e; */
  }

  .container__main {
    flex-direction: row;
    align-items: flex-start;
    padding-top: var(--space_xl);
  }

  .container__main--lists {
    box-sizing: content-box;
    background-color: var(--gray-100);
    border-radius: 18px;
    /* min-width: 9rem; */
    width: fit-content;
    margin-left: 36px;
    padding: 16px;
  }

  .container__main--lists ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space_md);
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .container__main--lists .list-name {
    border-radius: 24px;
    border: 2px solid var(--gray-300);
    background-color: white;
    width: fit-content;
    position: relative;
    padding: 2px 6px 2px 10px;
  }

  .list-information {
    display: flex;
  }

  .header--results_info {
    transform: translateX(-50%);
  }

  .container__main--gameslist {
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: var(--space_xl);
  }

  .container__main--gameslist ul {
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container__main--gameslist li {
    display: inline-block;
  }
}
