.badge {
  font-family: Inter, sans-serif;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  margin-left: 8px;
  border-radius: 50px;
  background-color: #fff;
  font-weight: 400;
}

.badge.new {
  background-color: var(--green);
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: -24px;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.badge.textLabel {
  padding: 4px 12px;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  color: var(--gray-700);
  background-color: var(--gray-100);
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin: 0;
}

.game_paragraph .badge.textLabel {
  background-color: #fff;
  border: none;
  border-left: 4px solid var(--green);
  border-radius: 4px;
}
